

        <h3>Purpose</h3>
        
  <div> Managing a relationship can be extremely difficult.  This app was created to help you manage your interaction with your Girlfriend or Boyfriend.  With RoboLove you can be up and running within seconds.  You can have preset messages via text and email sent to your loved one based on the intensity of your relationship and you can manage those messages via your message dashboard.  You can even add in your own custom messages which will be sent to your loved one at the appropriate time.  The app will also keep track of information about your loved one (Birthday, Anniversary,etc) so you don't have to.  Managing relationships has never been easier with RoboLove!  Get started immediately by adding relationships under the My Relationships tab!   </div>


<h3>Questions/Suggestions</h3>

<div> If you have any questions or any features you would like to add to RoboLove please let us know, we want your relationships to be as easy as possible.  Contact nih825@gmail.com if you have any questions. </div>
