/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
a, a:visited {
	color:#800000;
}
body {
	position: relative;
}

#popup {
	position: fixed;
top: 100px;
display: none;
background: orangered;
left: 496px;
color: white;
padding: 20px;
border-radius: 10px;
box-shadow: 5px -3px 45px 8px gray;
}

#sent {
position: fixed;
opacity: 0;
top: 100px; 
background: orangered;
left: 496px;
color: white;
padding: 20px;
border-radius: 10px; 
}
#msg {
	text-align: center;
}
#msg th{
	min-width: 200px;
}
#msg tr{
	margin:20px;border:1px gray solid;padding:10px;

}